<%- include("./partials/header.ejs", {title: "Creative Corner"}) %>
</head>
<body>
    <h1>This is the home page</h1>
    <h2>These are the item keys</h2>
    <% itemKeys.forEach(itemKey => { %>
        <div><%= itemKey %></div>
    <% }) %>
