<%- include("./partials/header.ejs", {title: "Creative Corner"}) %>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="custom_hero">
        <div class="custom_hero_info">
            <div class="custom_hero_orange_square">
                <div class="custom_hero_text">
                We are Creative Corner Architecture Agency
            </div>
            </div>
            
        </div>
    </div>
    
<%- include("./partials/footer.ejs") %>